<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body onload="showPage()">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title" th:text="'Temporal Demonstrations : ' + ${title}" style="color:rgb(102, 179,73);">
          Temporal Demos</h2>
        <div class="row">
          <div class="col-md-12">
            <form action="#" th:action="@{/namespace-management-details}" th:object="${namespace}" method="post">
              <input id="submitBtn" type="submit" value="Next" />
              <table id="NamespaceTable" class="table table-striped">
                <tr>
                  <td><b>Name</b></td>
                  <td><input type="text" th:field="*{name}" /></td>
                  <td><b>Active Region</b></td>
                  <td><input type="text" th:field="*{activeRegion}" /></td>
                  <td><b>Status</b></td>
                  <td><input type="text" th:field="*{state}" /></td>
                  <td><b>Retention Period</b></td>
                  <td><input type="text" th:field="*{retentionPeriod}" /></td>
                </tr>
                <tr class="page1">
                  <td class="page2" colspan="8"><b>Public CA for Certificate Authority:</b></td>
                </tr>
                <tr>
                  <td colspan="8">
                    <table class="table table-striped page1">
                      <thead>
                        <tr>
                          <th>Public Certificate</th>
                          <th>Not Before</th>
                          <th>Not After</th>
                          <th>Principal</th>
                          <th>Alternative Names</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="certificateAuth : ${namespace.certAuthorityPublicCerts}">
                          <td><a th:text="${certificateAuth.caCert}"></input></td>
                          <td><a th:text="${certificateAuth.notBefore}"></a></td>
                          <td><a th:text="${certificateAuth.expiryDate}"></a></td>
                          <td><a th:text="${certificateAuth.subjectPrincipal}"></a></td>
                          <td>
                            <table>
                              <tr th:each="altName : ${certificateAuth.alternativeNames}">
                                <td><a th:text="${altName}"></a></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </tr>
                <div id="page2" class="page2">
                  <tr class="page2">
                    <td class="page2" colspan="8"><b>Users (For info)</b></td>
                  </tr>
                  <th class="page2">
                  <td class="page2" colspan="4">e-mail</td>
                  <td class="page2" colspan="4">Role</td>
                  </th>
                  <tr class="page2" th:each="user : ${namespace.cloudOpsUsers}">
                    <td colspan="4"><a th:text="${user.eMail}"></a></td>
                    <td colspan="4"><a th:text="${user.role}"></a></td>
                  </tr>
                </div>
              </table>
            </form>
            <br>
            <br>
            <a>Status:</a><br><a th:text="${status}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function showPage() {
      
      var page1Elements = document.querySelectorAll(".page1");
      var page2Elements = document.querySelectorAll(".page2");
      console.log("We have " + page1Elements.length + "page1 elements and " + page2Elements.length + "page2.  Showing page + [[${page}]]");

      if ("[[${page}]]" == 1) {
        document.getElementById("submitBtn").value="Next";
        for (var i = 0; i < page1Elements.length; i++) {
          page1Elements[i].style.display = "block";
        }

        for (var i = 0; i < page2Elements.length; i++) {
          page2Elements[i].style.display = "none";
        }

      }
      else // Assume showing page 2
      {
        document.getElementById("submitBtn").value="Previous";

        for (var i = 0; i < page1Elements.length; i++) {
          page1Elements[i].style.display = "none";

        }
        for (var i = 0; i < page2Elements.length; i++) {
          page2Elements[i].style.display = "block";

        }
      }
      alert("Hello - [[${page}]]");
    }
  </script>
</body>

</html>