<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" th:text="'Temporal Demonstrations : ' + ${title}"
                    style="color:rgb(102, 179,73);">Temporal Demos : </h2>
                <h6>This page shows all the namespaces that the user is allowed to access.  Follow the namespace link to edit that specific namespace or click on the new Namespace button to create a new namespace.</h6>
                <div class="form-group">
                    <br />
                    <table id="UserSelectionTable" class="table">
                        <tbody>
                        <tr>
                            <td><form action="namespace-management" id="namespaceMgmtform" method="get">
                                <p>Please provide an API key to access cloud: <input id="apiKey" type="password" name="apiKey" th:value="*{apiKey}"/>
                                <input type="submit" value="Get Namespaces" class="btn btn-primary"/></p>
                                </form>
                             </td>
                             <td><input type="submit" value="Create Namespaces" class="btn btn-secondary" onclick="editNamespace()"/></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-md-12">
                            <table id="wfDetailsTable" class="table table-striped">
                                <thead>
                                    <th>Namespace</th>
                                    <th>State</th>
                                    <th>Active Region</th>
                                  </thead>
                                  <tbody>
                                    <tr th:each="namespace : ${namespaces}">
                                        <td><a th:href="@{'namespace-management-details/' + ${namespace.name} + '/\?apiKey=' + ${apiKey}}" th:text="${namespace.name}"></a></td>
                                        <td th:text="${namespace.state}"></td>
                                        <td th:text="${namespace.activeRegion}"></td>
                                      </tr>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%;">
                <div>
                    <h5 class="card-title">Status:</h5>
                    <p><div id="result"><a style="color:red;" th:text="${status}" ></a></div></p>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <script>
 function editNamespace()
 {
    window.location.href = "/namespace-management-details/new\?apiKey=[[${apiKey}]]";
 }
     </script>

</body>

</html>