<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
  <body>
    <div class="container">
      <div class="card">
        <div class="card-body">
            <h2 class="card-title" th:text="'Temporal Demonstrations : ' + ${title}"
            style="color:rgb(102, 179,73);">Temporal Demos</h2>
         <div class="row">
            <div class="col-md-12">
              <table id="NamespaceTable" class="table table-striped">
                <tr><td><b>Name</b></td>
                    <td><a th:text="${namespace.name}"></a></td>
                    <td><b>Active Region</b></td>
                    <td><a th:text="${namespace.activeRegion}"></a></td>
                    <td><b>Status</b></td>
                    <td><a th:text="${namespace.state}"></a></td>
                    <td><b>Retention Period</b></td>
                    <td><a th:text="${namespace.retentionPeriod}"> days</a></td>
                  </tr>
                  <tr>
                    <td><b>Public CA for Certificate Authority:</b></td>
                  </tr>
                  <tr><td><a style="width:100%; height:800px;" th:text="${namespace.certAuthorityPublicCert}"></a></td></tr>
                  <tr><td><b>Users</b></td></tr>
                  <th><td>e-mail</td><td>Role</td></th>
                  <tr th:each="user : ${namespace.cloudOpsUsers}">
                    <td><a th:text="${user.eMail}"></a></td>
                    <td th:text="${user.role}"></td>
                  </tr>
              </table>
              <br>
              <br>
              <a>Status:</a><br><a th:text="${status}"></a>
            </div>
         </div>  
       </div>
       </div>
    </div>
  </body>
</html>